.container {
    height: 236px;
    background-image: url(/img/banner.jpg); /* Default banner image */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
}

.banner-container {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
    position: relative;
    max-width: 1100px;
    margin: 0 auto;
}

.banner-container h1 {
    padding: 0 0 20px;
    color: #ffffff;
    opacity: 1;
    font-family: 'Raleway', sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
}

.banner-container p {
    padding: 0 0 25px;
    color: #ffffff;
    opacity: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}