.container :global(.ant-table-cell) {
    font-size: 14px;
}
.header {
    margin: 16px 0 40px 0;
}

.header :global(.content) {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.header p {
    font-size: 20px;
    font-weight: 400;
    color: var(--SERIOUS_GRAY);
    margin: 0;
}

.header a {
    color: var(--link-color);
}
.main-heading {
    color: var(--primary-color);
}

.normal.main-heading {
    margin-top: 56px;
}

.banner:global(.ant-card) {
    border-color: var(--border-color);
    padding: 20px 32px;
}

.banner :global(.ant-card-body) {
    padding: 0;
}

.banner-content {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
    }
}
