.container :global(.ant-table-cell) {
    font-size: 14px;
}

.main-heading {
    color: var(--primary-color);
    margin-top: 16px;
}

.banner-content {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: 300;
}

.container :global(.ant-divider-horizontal) {
    padding: 0px;
    margin: 16px 0px 32px 0px;
}
