.container {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.container :global(.ant-card-head) {
    background-color: var(--main-card-header-color);
    color: white;
    padding: 16px 28px;
    border-radius: 3px 3px 0 0; /* 1 less to avoid white space between border and header */
    height: 79px;
}

.container .title {
    font-size: 48px;
    font-weight: 600;
    color: white;
}

.container :global(.ant-card-body) {
    padding: 16px 20px;
}

.container :global(.ant-card-head-title .ant-btn):hover,
.container :global(.ant-card-head-title .ant-btn):focus,
.container :global(.ant-card-head-title .ant-btn):active {
    color: white;
    border: 1px solid white;
}

.extra-large-button {
    width: 100%;
    height: 102px;
    border: 2.5px solid var(--primary-color);
    margin-top: 16px;
    background-color: var(--ALLEN_LIGHT_10);
    display: flex;
    flex-direction: column;
    gap: 0; /* #11  in a separate pr? */
}

.extra-large-button .extra-large-button-header {
    display: flex;
    gap: 8px;
    align-items: baseline;
    justify-content: center;
}

.extra-large-button .extra-large-button-header.spaced-button {
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px 0px 20px;
    width: 100%;
}

.extra-large-button .extra-large-button-header h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

.extra-large-button:hover {
    color: var(--primary-color) !important;
    transition: background 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    background: linear-gradient(
        180deg,
        var(--AQUA_BLUE) 0%,
        var(--OCEAN_BLUE) 100%
    ) !important;
}

.extra-large-button :global(.tube-icon) {
    color: var(--ALLEN_LIGHT_10);
}

.extra-large-button:hover :global(.tube-icon) {
    color: var(--OCEAN_BLUE);
}

.extra-large-button :global(.plasmid-icon) {
    padding: 6px;
}

.multiple {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    width: 100%;
}

.divider {
    margin: 1px;
    min-width: 95%;
    width: 95%;
}

/* mobile sizing */
@media (max-width: 744px) {
    .container .title {
        font-size: 40px;
    }
}
