.header {
    margin: 16px 0 40px 0;
}

.header :global(.content) {
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.header p {
    font-size: 20px;
    font-weight: 400;
    color: var(--BLACK); 
    margin: 0;
}

.header a {
    color: var(--link-color);
}

.coriell-wrapper {
    margin: auto;
}

.coriell-card {
    width: 250px;
}

.main-heading {
    color: var(--DARK_BLUE)
}

.banner:global(.ant-card) {
    border-color: var(--border-color);
    margin-bottom: 16px;
    padding: 20px 32px;
}

.banner :global(.ant-card-body) {
    padding: 0;
}

.banner-content {
    font-size: 16px;
    color: var(--DARK_BLUE);
    font-weight: 300;
}