.container {
    color: var(--footer-text);
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    gap: 24px;
}

.container p {
    margin: 8px 0px;
}

.container .contributor {
    font-weight: 600;
}

.container .institution {
    font-style: italic;
}