.container {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.content {
    margin: auto;
    max-width: 1728px;
    padding: 32px;
    width: 100%;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.content h1 {
    font-family: "Raleway", sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
}

.content h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 12px;
}

.content h3 {
    font-weight: 700;
    color: var(--primary-color);
    font-size: 24px;
}

.content h4 {
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    color: var(--primary-color);
}
