.page-header {
    background-color: var(--ALLEN_PURPLE);
    height: 61px;
    padding: 13px 20px;
    box-shadow: 0px 5px 7px -5px #000000;
}

.content {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

.divider {
    color: #d9d9d9;
    font-size: 24px;
    font-weight: 300;
    margin: 0 24px;
}

.title-link {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.title-link:hover {
    color: var(--ALLEN_PURPLE_LIGHT);
}
