.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.masonry {
    column-count: 2;
    column-gap: 40px;
    width: 100%;
}

.masonry :global(.ant-card).masonry-item {
    break-inside: avoid;
    display: inline-block;
    width: 100%;
    margin: 0 0 40px;
    vertical-align: top;
    box-sizing: border-box;
}

.masonry :global(.ant-card).masonry-span-all {
    break-inside: avoid;
    display: block;
    width: 100%;
    margin: 0 0 40px;
    column-span: all;
}

@media screen and (max-width: 1280px) {
    .masonry {
        column-count: 1;
    }

    .masonry :global(.ant-card).masonry-item,
    .masonry :global(.ant-card).masonry-span-all {
        width: 100%;
        margin: 0 0 40px;
    }
}
