.container :global(.ant-table-thead .ant-table-cell)::before {
    display: none; /* remove dividers between column headers */
}

.container :global(.ant-card-head-title) {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.container :global(.ant-table-thead .ant-table-cell) {
    border-bottom: 1.5px solid var(--border-color);
    padding-bottom: 4px;
}

.table {
    width: max-content;
    border-radius: 0;
    margin-bottom: 20px;
}

.table :last-of-type:global(.ant-table-row .ant-table-cell) {
    border-style: none;
}

@media screen and (max-width: 1280px) {
   .table:global(.ant-table-wrapper) {
        width: 100%;
    }
}
